html {
    box-sizing: border-box;
}

*,
::after, ::before {
    box-sizing: inherit
}

.body {
    max-width: 800px;
    padding: 20px;
    margin: auto;
    font-family: 'Lato', sans-serif;
    color: rgb(241, 241, 241);
    background-image: url("../images/pexels.jpg");
    background-size: auto;
    background-repeat: no-repeat;
    background-position: center;

}

.section {
    display:flex;
    flex-direction: column;
}

.form {
    background-color: rgb(241, 241, 241);
    color: rgb(5, 5, 5);
    margin: 20px;
    padding: 20px;
    border-radius: 5px;
}


.form__label{
    font-size: 24px;
    font-weight: bold;
}



